.quantity-btn{
    border: none;
    color: white;
    background-color: #424242;
    border-radius: 5px;
}
.quantity-btn:active{
   opacity: -0.2;
}
#card-w{
    box-shadow:   0 .125rem .25rem  rgb(32, 9, 9); 
}
#card-w:hover{
    box-shadow: rgba(68, 47, 47, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card{
    background-color: rgb(255, 255, 255);
}